.header {
    color: var(--white);
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,0) 10%, rgba(4,0,22,0.7) 100%);
}

.header a {
    padding: 20px;
    transition: background-color .2s ease;
}

.header a:hover {
    background: rgba(100, 100, 100, .3);
}
