.container {
    color: white;
    font-family: 'Roboto', 'Sans-serif';
}
.container h3 {
    margin-top: 15px;
    font-size: 1.4em;
}
.codeImg {
    display: flex;
    background-image: url('../../../public/code.png');
    background-position-y: center;
    height: 40vh;
}
.codeGradient {
    width: 100%;
    background: rgb(46,56,77);
    background: linear-gradient(0deg, rgba(46,56,77,1) 0%, rgba(2,0,36,0) 50%);
}

.me {
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.profilePic {
    border-radius: 360px;
    height: 200px;
}